.tenets-container{
    background: url("../../assets/tenetsBg.png") 0 40% no-repeat;
    width: 100%;
    height: 788px;
    display: flex;
    justify-content: space-evenly;
}

.tenets-pin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0 15px 59px rgba(0, 0, 0, 0.08);
    border-radius: 351px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #E21F4D;
    margin-top: 35px;
    margin-bottom: -15px;
}

.tenets-title{
    width: 575px;
    height: 81px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #3F3F3F;
    span{
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        text-transform: uppercase;
        color: #E21F4D;
    }
}

.tenets-wrapper{
    svg{
        position: relative;
        left: 85%;
        margin-bottom: 15px;
    }
}

.dignities-container{
    display: flex;
    height: 570px;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 40px;
    position: relative;
    left: 18%;
    button {
        margin-top: 15px;
        width: 292px;
        height: 80px;
        border: 0;
        background: #E21F4D;
        box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46), 0 6px 10px rgba(226, 31, 77, 0.6);
        border-radius: 1000px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }
    svg{
        position: relative;
        left: 50%;
    }
}

.dignity-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    img{
        width: 60px;
        height: 60px;
    }
}

.dignity-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 15px 59px rgba(0, 0, 0, 0.08);
    border-radius: 11px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #3F3F3F;

}