.services-container {
    display: flex;
    justify-content: center;
    align-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 730px;
    z-index: 6;
    overflow: hidden;
}

.services-header {
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.our-services-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 15px 59px rgba(0, 0, 0, 0.08);
    border-radius: 351px;
    border: 0;
    width: 143px;
    height: 44px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #E21F4D;
}



.top-text {
    width: 80%;
    height: 85px;
    top: 114px;
    left: 380px;
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #3F3F3F;
    text-transform: uppercase;
    span{
        font-family: "Manrope", sans-serif;
        font-size: 30px;
        font-weight: 800;
        line-height: 40px;
        text-align: left;
        color: #E21F4D;
    }
}

.arrow{

}

.carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-block: 30px;
}



.owl-theme{
    overflow: visible !important;
}
.owl-prev {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 40%;
    left: -20px;
    margin-left: -20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: white !important;
    opacity: 1 !important;
    border:0;
    border-radius: 600px !important;
    box-shadow: 0 15px 59px rgba(0, 0, 0, 0.2) !important;
}

.owl-next {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 40%;
    right: 90px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: white !important;
    opacity: 1 !important;
    border:0;
    border-radius: 600px !important;
    box-shadow: 0 15px 59px rgba(0, 0, 0, 0.2) !important;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

.owl-next.disabled{
    opacity: 0.8 !important;
}
.owl-prev.disabled{
    opacity: 0.8 !important;
}
.prev{
    padding-right: 5px !important;
    padding-top: 3px !important;
}
.next{
    padding-left: 3px !important;
    padding-top: 3px !important;
}

.card{
    display: flex;
    align-content: end;
    flex-wrap: wrap;
    width: 370px !important;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

.owl-stage-outer{
    height: 450px !important;
    width: 95% !important;
    padding: 15px !important;
}

.card-treatment{
    background: url("../../assets/treatment.png") no-repeat;
}
.card-extraction{
    background: url("../../assets/extraction.png")  no-repeat;
}
.card-hygiene{
    background: url("../../assets/hygiene.png")  no-repeat;
}

.card-implant{
    background: url("../../assets/implantation.png")  no-repeat;
}

.treatment-text-wrapper{
    position: relative;
    bottom: 0;
    width: 370px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card-text-wrapper{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .name{
        width: 85%;
        height: 25px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #3F3F3F;
        margin-bottom: 5%;
    }
    .description{
        width: 85%;
        height: 36px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #3F3F3F;
        margin-bottom: 5%;
    }
    .option{
        display: flex;
        width: 85%;
        height: 40px;
        button{
            width: 146px;
            height: 40px;
            background: #E21F4D;
            box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
            border-radius: 1000px;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            border: 0;
        }
        button:hover{
            background-color: #E21F4D99;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 125px;
            height: 40px;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #3F3F3F;
            margin-left: 5%;
        }
    }
}