.App {
    position: relative;
    height: 100vh;
}

*{
    font-family: 'Manrope', sans-serif;
}

.App::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99vw;
    height: 100vh;
    background: url("./assets/f37b186f4a609cfb719fd330c314dc65.jpg") 0 0 / 100% no-repeat;
    background-size: cover;
    opacity: 5%;
}

.page_body {
    flex: 1 1 auto;
}

#root {
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100% !important;
}


button{
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:focus-visible, a:focus-visible{
    background-color: #E21F4D99;
    outline: #E21F4D 1px solid !important;
    color: white !important;
    span, p, a{
        color: white !important;
    }
}
